/*PRIMO ESERCIZIO*/

.ex-1-square {
    transition: 1s;
}
.ex-1-square:hover {
    background: red;
}

/*SECONDO ESERCIZIO*/
.ex-2-square {
    transition: 1s;
}
.ex-2-square:active {
    width: 100%;
}