/*PRIMO ESERCIZIO*/

.ex-1-square {
    transition: 3s;
}
.ex-1-square:hover {
    background: red;
}

/*SECONDO ESERCIZIO*/
.ex-2-square {
    transition: 3s;
}
.ex-2-square:active {
    width: 100%;
}

/*TERZO ESERCIZIO*/
.ex-3-square {
    transition: 3s;
}
.ex-3-square:hover {
    border-radius: 100%;
}

/*QUARTO ESERCIZIO*/
.ex-4-square {
    transition: 3s;
}

.ex-4-square:hover { 
    opacity: 0;
}

/*QUINTO ESERCIZIO*/
.ex-5-square {
    transition: 1s;
}
.ex-5-square:hover {
    width: 80px;
    height: 80px;
}
.ex-5-square:active {
    width: 40px;
    height: 40px;
}

/*SESTO ESERCIZIO*/
.ex-6-img{
    transition: 2s;  
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

/*SETTIMO ESERCIZIO*/

.ex-7-img {
    transition: 2s;
}
.ex-7-img:hover {
    filter: hue-rotate(50deg) drop-shadow(2px 2px 10px #bb1313);
}

/*OTTAVO ESERCIZIO*/

.ex-8-img {
    transition: 2s;
}
.ex-8-img:hover {
    filter: grayscale(50%) drop-shadow( 2px 2px 20px #6b0c83);
    border-radius: 20px;

}

