/*PRIMO ESERCIZIO*/

.ex-1-square {
    transition: 1s;
}
.ex-1-square:hover {
    background: red;
}

/*SECONDO ESERCIZIO*/
.ex-2-square {
    transition: 1s;
}
.ex-2-square:active {
    width: 100%;
}

/*TERZO ESERCIZIO*/
.ex-3-square {
    transition: 1.5s;
}
.ex-3-square:hover {
    border-radius: 100%;}